@media screen and (min-width: 480px) {
  /****************************************
  HEADING
  *****************************************/
  
  #primary {
    width: 50%;
    float: left;
  }
  
  #secondary {
    width: 40%;
    float: right;
  }
  
  
  /****************************************
  3 * 5 = 15
  100% - 15% = 85%
  85 / 3 = 28.333333333
  *****************************************/
  /****************************************
  PAGE: POTFOLIO
  *****************************************/
  
  /*#gallery li {*/
  /*  width: 28.33333%;*/
  /*}*/
  
    #gallery li {
    width: 28.3%;
  }
  
  #gallery li:nth-child(4n) {
    clear: left;
  }
  /****************************************
  PAGE: ABOUT
  *****************************************/
  
  .profile-photo {
    float: left;
    margin: 0 5% 80px 0;
  }
  
}
  
  @media screen and (min-width: 660px) {
    /****************************************
  HEADER
  *****************************************/
    
    nav {
      background: none;
      float: right;
      font-size: 1.125;
      margin-right: 5%;
      text-align: right;
      width: 60%;
    }
    #logo {
      float: center;
      margin-left: 5%;
      text-align: left;
      width: 45%;
      }
    h1 {
      font-size: 2.5em;
    }
    h2 {
      font-size: 0.825em;
      margin-bottom: 20px;
    }
    header {
      border-bottom: 5px solid #599a68;
      margin-bottom: 40px;
    }
    
    #gallery li {
      width: 27%;
  }
  
    #aboutimg {
      float: left;
      padding: 0px 40px 0 30px;
  }

    
  }
